.ssh/*
.vultr/*
.secrets/*
.idea/*
**/*.rs.bk
/Cargo.lock
node_modules
/target

/apps/deployments/native/assets
/apps/deployments/native/assets/
/apps/deployments/native/data
/apps/deployments/native/data/
/apps/deployments/web/launcher/assets
/apps/deployments/web/game/assets
/apps/deployments/web/level_editor/assets

/services/auth/cyberlith_users
/services/asset/assets
/services/asset/assets/
/services/asset/assets/*
/services/content/files
/services/content/files/
/services/content/files/*

/apps/ui_editor/assets
/apps/ui_editor/output

/apps/physics_tester/assets
/apps/physics_tester/output

/apps/editor/client/target
/apps/editor/server/users

/crates/kernel/cookies_test