.ssh/*
.vultr/*
.secrets/*
.idea/*
**/*.rs.bk
/Cargo.lock
node_modules
/target

/deployments/native/target
/deployments/native/assets
/deployments/web/launcher/target
/deployments/web/launcher/assets
/deployments/web/game/target
/deployments/web/game/assets
/deployments/web/level_editor/target
/deployments/web/level_editor/assets

/services/auth/target
/services/gateway/acme_cache
/services/asset/assets
/services/asset/assets/
/services/asset/assets/*
/services/neocontent/files
/services/neocontent/files/
/services/neocontent/files/*
/services/neocontent/target
/services/neocontent/target/
/services/neocontent/target/*
/services/content/files
/services/content/files/
/services/content/files/*

/apps/ui_editor/target
/apps/ui_editor/assets
/apps/ui_editor/output

/apps/physics_tester/target
/apps/physics_tester/assets
/apps/physics_tester/output

/apps/editor/client/target
/apps/editor/server/target

/apps/automation/cli/target
/apps/automation/cli/target/
/apps/automation/cli/target/*
/apps/automation/cli/target/assets_repo
/apps/automation/cli/target/assets_repo/
/apps/automation/cli/target/assets_repo/*