[package]
name = "game_app_common"
version = "0.1.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = "../../.."
edition = "2021"
publish = false

[features]
local = [ "game_engine/local" ]
prod = [ "game_engine/prod" ]
gl_renderer = [ "game_engine/gl_renderer" ]
wgpu_renderer = [ "game_engine/wgpu_renderer" ]
odst = [ "game_engine/odst" ]

[dependencies]
# Internal
# goal is to have ONLY game_engine here!!!
game_engine = { path = "../../../crates/engine", features = ["networked"] }

# External
bevy_app = { version = "0.15", default-features=false }
bevy_ecs = { version = "0.15", default-features=false }
bevy_state = { version = "0.15", features = ["bevy_app"], default-features=false }

cfg-if = { version = "1.0" }