[package]
name = "gateway"
version = "0.1.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = "../.."
edition = "2021"
publish = false

[features]
local = [ "config/local", "region_server_http_proto/local", "session_server_naia_proto/local", "world_server_naia_proto/local" ]
prod = [ "config/prod", "region_server_http_proto/prod", "session_server_naia_proto/prod", "world_server_naia_proto/prod" ]

[dependencies]
http_server = { path = "../../crates/http/http_server" }
http_client = { path = "../../crates/http/http_client" }
config = { path = "../../config", features = ["gateway"]}
logging = { path = "../../crates/logging" }
naia-serde = { path = "../../../naia/shared/serde" }
timequeue = { path = "../../crates/timequeue" }
instant = { path = "../../crates/instant" }

gateway_http_proto = { path = "http_proto" }
region_server_http_proto = { path = "../region/http_proto" }
auth_server_http_proto = { path = "../auth/http_proto" }
auth_server_types = { path = "../auth/types" }
session_server_naia_proto = { path = "../session/naia_proto" }
world_server_naia_proto = { path = "../world/naia_proto" }

base64 = { version = "0.13" }
cfg-if = { version = "1.0" }