[package]
name = "region_server"
version = "0.1.0"
authors = ["connorcarpenter <connorcarpenter@gmail.com>"]
workspace = "../.."
edition = "2021"
publish = false

[features]
local = [ "config/local", "region_server_http_proto/local" ]
prod = [ "config/prod", "region_server_http_proto/prod" ]

[dependencies]
http_server = { path = "../../crates/http/http_server" }
http_client = { path = "../../crates/http/http_client" }
config = { path = "../../config", features = ["region"] }
random = { path = "../../crates/random" }
logging = { path = "../../crates/logging" }

region_server_http_proto = { path = "http_proto" }
session_server_http_proto = { path = "../session/http_proto" }
world_server_http_proto = { path = "../world/http_proto" }
asset_server_http_proto = { path = "../asset/http_proto" }
social_server_http_proto = { path = "../social/http_proto" }